{% load humanize %}
<div class="modal fade" id="notification" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Notifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          {% for notification in notifications %}
            <li class="list-group-item d-flex justify-content-between align-items-center {% if notification.status == 1 %}bg-light{% endif %}">
              <a href="{{notification.post.get_absolute_url}}#comment{{notification.comment.id}}" class="btn btn-link btn-sm" data-index="{{notification.id}}" id="status">{{notification}}</a>
              <small>{{notification.created|naturaltime}}</small>
            </li>
          {% endfor %}
          {% if count > 10 %}
            <a href="#" class="">See all</a>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

<script>

{% comment %} const status = document.getElementById("status");

status.addEventListener('click',(e)=> {
  e.preventDefault();
  const notificationId = status.getAttribute('data-index');

  $.ajax({
    type:"POST",
    url:"{% url 'posts:notification-status' %}",
    data:{
      notification_id:notificationId,
      csrfmiddlewaretoken:"{{csrf_token}}",
    },
    success:function(response){
      if(response.status === 'true'){
        console.log(response['message']);
        window.location.href = this.href;
      }
    },
    error(response){
      alert("Something went wrong")
    }
  })

}); {% endcomment %}

</script>>
