{% extends 'layouts/common_layout.html' %}
{% load static %}
<!-- Page Content-->

{% block title %}
{{post.slug}}
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">{{post.author.username}}</div>
                        <div class="text-muted">Site Admin</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{post.created}}</div>
                        <!-- Post categories-->
                        {% for tag in tags %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{tag.name}}</a>
                        {% endfor %}
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'images/code.png' %}" alt="..." /></figure>
                </article>
                    <!-- Post content-->
                <article>
                    <section class="mb-5">
                        {{post.content|safe}}
                    </section>
                </article>
                <!-- Comments section-->
                <section>
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form action="" class="mb-4" method="POST">
                                {% csrf_token %}
                                {{comment_form}}
                                <button type="submit" class="btn btn-primary">Comment</button>
                            </form>
                            <!-- Single comment-->
                            {% for comment in comments %}
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">{{comment.name}}</div>
                                    {{comment.content}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}