{% extends 'posts/layout.html' %} {% load static %}
{% load social_share %}
{% load hitcount_tags %}
{% load humanize %}

{% block content %}
  <!-- Post Content Column -->
<div class="col-md-9 mx-auto">
  <div class="card shadow-sm my-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img src="{{post.author.profile.profile_pic.url}}" class='rounded image-fluid' width='100%' height='125'>
        </div>
        <div class="col-md-10">
          <p style='font-size: 20px;'>By <b>{{post.author.get_full_name}}</b></p>
          <p class='text-muted' style='font-size: 15px;'>{{post.author.profile.bio}}</p>
          <p><a href="https://twitter.com/{{post.author.profile.twitter_id}}" target="_blank"><i class="fa fa-twitter text-info" style="font-size: 24px"></i></a>&nbsp;
              <a href="https://github.com/{{user.profile.github_id}}" target="_blank"><i class="fa fa-github text-dark" style="font-size: 24px"></i></a>&nbsp;
              <a href="{% url 'posts:about' %}"><i class="fas fa-envelope-square text-warning" style="font-size:24px"></i></a>&nbsp;
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow-sm mb-4">
      <!-- Title -->
    <div class="card-body">
      <h2 class="mt-4" id='post-title'><div>{{post.title}}</div>
        <div>
            <button class="btn btn-link" type="button" data-toggle="modal" data-target="#staticBackdrop" title='Share'>
              <i class="fas fa-share-alt"></i>
            </button>
            <button onclick="myFunction()" class='btn btn-link' title='Copy to Clipboard'>
              <i class='far fa-clipboard'></i>
            </button>
        </div>
            {% include 'posts/share_modal.html' %}
            <input type='text' value="{{request.build_absolute_uri}}" id="myInput" class='d-none'>
      </h2>

      <div class='text-muted'>
        <!-- Published by: <a href="#"><i class='fas fa-user-tie'></i>&nbsp;{{post.author}}</a> | -->
          Posted: <i class='fas fa-calendar-alt'></i>&nbsp;{{post.created}} |
          Updated: <i class='fas fa-clock'></i>&nbsp;{{post.updated|naturaltime}}|
          Comments: <i class="fas fa-comment-alt"></i>&nbsp;{{allcomments.count}}|
          Views: <i class='far fa-eye'></i>&nbsp;{% get_hit_count for post %}
      </div>
      <hr>
      <!-- Post Content -->
      <article class='mt-3'>{{post.content|safe}}</article>
      <hr/>
      {% for tag in tags %}
      <a href="{{tag.get_absolute_url}}" class="btn btn-light rounded">{{tag.name}}</a>
      {% endfor %}
    </div>
  </div>
    <div class="card shadow-sm my-4">
      <div class="card-body overflow-auto">
        {% with allcomments.count as total_comments %}
          <p>{{total_comments}} comment{{total_comments|pluralize}}</p>
        {% endwith %}
        <hr>
        <form method='POST' class='mb-2'>
          {% csrf_token %}
          <div class="form-group">
            {{comment_form.content}}
          </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  {{comment_form.name}}
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  {{comment_form.email}}
                </div>
              </div>
            </div>
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
      </div>
    </div>
    {% for comment in allcomments %}
    <div class="card card-body border mb-2 p-3" id="comment{{comment.id}}">
      <h6 class="mt-0"><i class='fas fa-users'></i>&nbsp;{{comment.name}}&nbsp;<small class='text-muted'>{{comment.created}}</small></h6>
      {{comment.content|linebreaks}}
    </div>
    {% empty %}
    <p>There is no comment for this post.</p>
    {% endfor %}
  </div>
</div>
  <script>
    function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the Post link: " + copyText.value);
}
  </script>
{% endblock %}
