[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-social-share = "*"
django-admin-honeypot = "*"
python-dotenv = "*"
django-hitcount = "*"
django-cloudinary-storage = "*"
django-summernote = "*"

[dev-packages]

[requires]
python_version = "3.8"
