{% extends 'accounts/layout.html' %} 
{% block content %}
    <div class="card my-4 shadow-sm">
        <div class="card-body">
        <h3>Reset Password</h3>
        <hr>
        <div class='alert alert-info'>
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. 
            You should receive them shortly.
        </div>
        <small class='text-muted'>*If you don’t receive an email, please make sure you’ve entered the address you registered with, 
            and check your spam folder.
        </small>
        </div>
    </div>
{% endblock %}