{% extends 'posts/layout.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="card shadow-sm my-4"">
<a href="{% url 'accounts:dashboard' %}" class='btn btn-outline-info'>&#8592;&nbsp;Back to Dashboard</a>
            <div class="card-body">
        <h4>All Posts</h4>
        <input class="form-control" id="myInput" type="search" placeholder="Search in Posts..">
        <br>
        <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                <th scope="col" colspan=2>Title</th>
                <th scope="col">Category</th>
                <th class='text-center' scope="col">Update</th>
                <th class='text-center' scope="col">Delete</th>
                <th scope="col">Status</th>
                <th scope='col'>Last Updated</th>
                </tr>
            </thead>
            {% for post in posts %}
            <tbody id='myTable'>
                <tr>
                <td colspan=2><a href="{{post.get_absolute_url}}">{{post.title}}</a></td>
                <td>{{post.category}}</td>
                <td class='text-center'><a href="{% url 'posts:update-post' post.slug %}"><i class='fas fa-edit'></i></a></td>
                <td class='text-center'><a href="{% url 'posts:delete-post' post.slug %}"><i class='fas fa-trash text-danger'></i></a></td>
                <td style='text-transform: capitalize;'>{{post.status}}</td>
                <td>{{post.updated|naturaltime}}</td>
                </tr>
            </tbody>
            {% empty %}
            <p>No post found.</p>
            {% endfor %}
        </table>
        </div>
            <!-- Pagination -->
            {% include 'posts/pagination.html' %}
            </div>
        </div>

        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
        </script>
{% endblock %}
