body {
  background-color: ivory;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
select {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
label {
  padding-top: 10px !important;
  display: block;
}
#profile-pic {
  width: 30px;
  height: 30px;
}
.card-body {
  padding: 20px;
}
.account-container {
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
.profile-container {
  max-width: 1300px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
main {
  min-height: 85vh;
}
#post-title {
  display: flex;
  justify-content: space-between;
}

body,
html {
  height: 100%;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.bg-featured-blog {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
}