{% extends 'posts/layout.html' %} {% load static %}
{% load humanize %}
{% block content %}

  {% if messages %} {% for message in messages %}
  <div class="my-2 alert alert-{{ message.tags }}">{{message}}</div>
  {% endfor %} {% endif %}

  <h1 class="text-center my-4">User Dashboard</h1>
  <hr>
  {% include 'accounts/status.html' %}
            <hr>
            <div class="card shadow-sm my-4">
                <div class="card-body">
                <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <h4>Your Profile</h4>
                    <hr>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <!-- <td><a class="btn btn-outline-warning" href="#">Update</a></td> -->
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                                <i class='fas fa-user-cog'></i>&nbsp;Edit
                            </button>
                            {% include 'accounts/profile_modal.html' %}
                        </td>
                    </tr>
                </table>
                </div>
                </div>
            </div>

            <div class="card shadow-sm my-4">
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <h4>Latest Posts</h4>
                        <tr>
                            <th colspan='2'>Title</th>
                            <th>Last Updated</th>
                            <th>Status</th>
                            <th class='text-center'>Update</th>
                            <th class='text-center'>Remove</th>
                        </tr>
                        {%for post in posts%}
                        <tr>
                            <td colspan='2'><a href="{{post.get_absolute_url}}">{{post.title}}</a></td>
                            <td>{{post.updated|naturaltime}}</td>
                            <td style='text-transform: capitalize;'>{{post.status}}</td>
                            <td class='text-center'><a href="{% url 'posts:update-post' post.slug %}"><i class='fas fa-edit'></i></a></td>
                            <td class='text-center'><a href="{% url 'posts:delete-post' post.slug %}"><i class='fas fa-trash text-danger'></i></a></td>
                        </tr>
                        {%endfor%}
                    </table>
                    </div>
                    <a href="{% url 'accounts:posts-edit' %}" class="btn btn-outline-info btn-block">All Posts</a>
                </div>
            </div>

            <div class="card shadow-sm my-4">
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <h4>Latest Comments</h4>
                        <tr>
                            <th colspan='2'>Comment</th>
                            <th>Post</th>
                            <th>User</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th class='text-center'>Update</th>
                        </tr>
                        {%for comment in comments%}
                        <tr>
                            <td colspan='2'>{{comment.content}}</td>
                            <td><a href="{{comment.post.get_absolute_url}}">{{comment.post}}</a></td>
                            <td>{{comment.name}}</td>
                            <td style='text-transform: capitalize;'>{{comment.created|naturaltime}}</td>
                            <td>{{comment.status}}</td>
                            <td class='text-center'><a href="{% url 'posts:comment-edit' comment.id %}"><i class='fas fa-edit'></i></a></td>
                        </tr>
                        {%endfor%}
                    </table>
                    </div>
                    <a href="{% url 'accounts:comments-edit' %}" class="btn btn-outline-info btn-block">All Comments</a>
                </div>
            </div>
 
{% endblock %}
