{% extends 'accounts/layout.html' %} {% load static %} 
{% block title %}
Login
{% endblock %}
{% block content %}

<div class="account-container">
  
  <div class="card">
    <div class="card-body">
      <form method="POST">
        <h3 class='text-center'>Blog - Login</h3>
        <hr>
        <span>{{forms.non_field_errors}}</span>
        {% csrf_token %}
       <div class="form-group">
         {{form.as_p}}
       </div>
        <hr>
        <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login</button>
      </form>
      <hr>
      <a href="{% url 'register' %}" class='btn btn-light btn-block'><i class="fa fa-user-plus"></i>&nbsp;Create new account</a>
      <br>
      <span><a href="{% url 'reset_password' %}">Forgot Password ?</a></span>
    </div>
  </div>
</div>
{% endblock %}
