<div class="row">

  <div class="col-md-4">
    <div class="card my-4">
      <div class="card-body text-center">
        <img src="{{request.user.profile.profile_pic.url}}" alt="" style='border-radius: 50%;'>
        <hr>
        <p>Username: {{request.user.username}}</p>
        <p>Email: {{request.user.email}}</p>
        <hr>
        <a href="{% url 'accounts:user-posts' %}" class="btn btn-primary">All Posts</a>
        <a href="#" class="btn btn-warning">All Comments</a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card my-4">
      <div class="card-body">
        <form action="" method='POST'>
          {% csrf_token %}
          {{u_form.as_p}}
          {{p_form.as_p}}
        <button class="btn btn-primary" type='submit'>Update Information</button>
        </form>
      </div>
    </div>
  </div>

</div>