{% extends 'accounts/layout.html' %} {% load static %} 

{% block mycss %}
<style>
  span ul {
    list-style-type: none;
}
</style>
{% endblock mycss %}
{% block content %}

<div class="account-container">
  <div class="card">
    <div class="card-body">
      <form method="POST">
        <h3 class='text-center'>Blog - Register</h3>
        <hr>
        {% csrf_token %}
        <div class="form-group">
          {{form.as_p}}
        </div>
        <hr>
        <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-user-plus"></i>&nbsp;Register</button>
      </form>
        <hr>
      <span
        >Already have an account ? Login
        <a href="{% url 'login' %}">here</a>.</span
      >
    </div>
  </div>
</div>
{% endblock %}
