<div class="row">
    <div class="col">
        <div class="col-md">
        <div class="card text-center text-white mb-3 bg-info shasow-sm">
            <div class="card-header">
                <h5 class="card-title">Total Posts</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{all_posts}}</h3>
            </div>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
        <div class="card text-center text-white mb-3 bg-success shasow-sm">
            <div class="card-header">
                <h5 class="card-title">Published Posts</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{published}}</h3>
            </div>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
        <div class="card text-center text-white mb-3 bg-primary shasow-sm">
            <div class="card-header">
                <h5 class="card-title">Draft Posts</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{drafts}}</h3>
            </div>
        </div>
        </div>
    </div>
</div>