{% extends 'posts/layout.html' %} {% block content %}

<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8">
    <h1 class="my-4">
      Page Heading
      <small>Secondary Text</small>
    </h1>
    {% for post in posts %}
    <!-- Blog Post -->
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h3 class="card-title">{{post.title}}</h3>
        <a href="{{post.get_absolute_url}}" class='btn btn-light' ><i class="fab fa-readme"></i>&nbsp;Read</a>
      </div>
      <div class="card-footer text-muted">
        Published by: <a href="#"><i class='fas fa-user-tie'></i>&nbsp;{{post.author}}</a> |
        Posted: <i class='fas fa-calendar-alt'></i>&nbsp;{{post.created}} |
        Updated: <i class='fas fa-calendar-alt'></i>&nbsp;{{post.updated}}
      </div>
    </div>
    {% endfor%}

    <!-- Pagination -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  </div>
  {% include 'posts/category_list.html' %}
</div>

{% endblock %}