<!-- Navigation -->
{% load humanize %}
{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'frontend:index' %}" style="font-family: 'Roboto', sans-serif"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href=""
            ><i class='fas fa-home'></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <a class="dropdown-item d-flex justify-content-between"
              href="{% url 'posts:category_list' category.slug %}">
              {{category.name|title}}
              <span>{{category.post.count}}</span>
            </a>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <div class="dropdown-divider"></div>
            <a href="{% url 'posts:create-category' %}" class="dropdown-item"><i class='fas fa-plus'></i>&nbsp;Add a Category</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:search' %}"></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <button type="link" class="btn btn-dark" data-toggle="modal" data-target="#notification">
            <i class="fas fa-bell"></i>&nbsp;<sup>{{count}}</sup>
          </button>
          {% include 'posts/notification_modal.html' %}
        </li>
        <li class="nav-item dropdown">
          {% if request.user.is_superuser %}
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i> (Admin)</a>
          {% else %}
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{request.user}}</a
          >
          {% endif %}
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'posts:create-post' %}"><i class='fas fa-edit'></i>&nbsp;&nbsp;Create New Post</a>
            <a class="dropdown-item" href="{% url 'accounts:dashboard' %}"><i class="far fa-address-card"></i>&nbsp;&nbsp;Dashboard</a>
            <a class="dropdown-item" href="{% url 'password_change' %}"><i class='fas fa-key'></i>&nbsp;&nbsp;Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav> {% endcomment %}

{% comment %} new navbar {% endcomment %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
      <a class="navbar-brand" href="{% url 'frontend:index' %}">AVISHEK<span class='text-info'>DJANGO</span>BLOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="container-fluid">
            <form class="d-flex" action="{% url 'posts:search' %}" method="GET">
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                {{search_form}}
              </div>
            </form>
          </div>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
      </div>
  </div>
</nav>
