input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
select{
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
label {
  padding-top: 10px !important;
  display: block;
}
#profile-pic{
  width: 30px;
  height: 30px;
}
#profile-pic-detail{
		max-width:300px;
		max-height:300px;
		margin:0 auto;
		border-radius:50%;
}
#profile-pic-sidebar{
    max-width:200px;
		max-height:300px;
		margin:0 auto;
		border-radius:50%;
}
.card-body {
  padding: 20px;
}
.account-container {
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
.profile-container {
  max-width: 1300px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
main{
  min-height: 85vh;
}
#post-title{
  display: flex;
  justify-content: space-between;
}
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
      /* will touch very left side */
    }

    .children .children form {
      margin-left: -96px;
      /* will touch very left side */
    }
  }