{% extends 'posts/layout.html' %} {% load static %}

{% block content %}
<main>
  <!-- Post Content Column -->
  <div class="card shadow-sm my-4">
    <!-- Title -->
    <div class="card-body">
    <h2 class="mt-4" id='post-title'><div>{{post.title}}</div>
      <div class="dropdown">
          <button class="btn btn-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-share-square"></i>
          </button>
        <div class="dropdown-menu">
          <input type="text" class="form-control" value='{{request.build_absolute_uri}}' disabled>
        </div>
      </div>
    </h2>
    <!-- <p>{{request.get_host}}{{ request.get_full_path|urlencode }}</p>
    <p><a href="{{request.build_absolute_uri}}">{{request.build_absolute_uri}}</a></p> -->

    <small class='text-muted'>
      Published by: <a href="#"><i class='fas fa-user-tie'></i>&nbsp;{{post.author}}</a> |
        Posted: <i class='fas fa-calendar-alt'></i>&nbsp;{{post.created}} |
        Updated: <i class='fas fa-calendar-alt'></i>&nbsp;{{post.updated}}
    </small>

    <!-- Post Content -->
    <p class="lead">{{post.content|safe|linebreaks}}</p>
    </div>
  </div>

    <hr />

    <!-- Comments Form -->
    {% if request.user.is_authenticated %}
      <h5 class="card-header">Leave a Comment:</h5>
      <br>
        <form method='POST' style='margin-bottom: 2px;'>
          {% csrf_token %}
          <div class="form-group">
          <label class='d-none'>{{comment_form.body.label}}</label>
          <!-- {{comment_form.media}} -->
            {{comment_form.body}}
            </div>
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    {% else %}
    <p>Please <a href="{% url 'login' %}" target='_blank'>Login</a> first to comment.</p>
    {% endif %}
    <!-- Single Comment -->
    {% with comments.count as total_comments %}
      <p>{{total_comments}} comment{{total_comments|pluralize}}</p>
    {% endwith %}
    <hr>
    {% for comment in comments %}
    <div class="media mb-4">
      <img
        class="d-flex mr-3 rounded-circle"
        src="{{comment.user.profile.profile_pic.url}}"
        alt="profile pic"
        id="profile-pic"
      />
      <div class="media-body">
        <h6 class="mt-0">
          {{comment.user.username}} <small>on {{comment.created}}</small>
        </h6>
        {{comment.body|safe}}
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
