<!-- Sidebar Widgets Column -->
{% load humanize %}
<div class="col-md-4">
  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Latest Posts</h5>
    <div class="card-body">
      {% for post in posts %}
      <div class="alert alert-light" role="alert">
        <p>
          <a href="{{post.get_absolute_url}}">{{post.title}}</a
          ><small> by {{post.author}}</small>
        </p>
        <span><small><i class="fas fa-clock"></i>&nbsp;{{post.created|naturaltime}}</small></span>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
