<div class="col-md-4">
  <div class="profile-card shadow-sm my-4">
    <img
      src="{{user.profile.profile_pic.url}}"
      alt="author"
      style="height: 50%; border-radius: 50%"
    />
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <p class="title">{{user.username}}</p>
    <p>{{post.author.profile.bio}}</p>
    <a
      href="https://twitter.com/{{user.profile.twitter_id}}"
      target="_blank"
      ><i class="fa fa-twitter text-info" style="font-size: 36px"></i
    ></a>
    <a
      href="https://github.com/{{user.profile.github_id}}"
      target="_blank"
      ><i class="fa fa-github text-dark" style="font-size: 36px"></i
    ></a>
    <p><button class="btn btn-primary button">Contact</button></p>
  </div>
  <div class="card my-4 shadow-sm">
    <div class="card-body">
      <h3>Categories</h3>
      <hr />
      <ul class="list-group">
        {% for category in categories %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <a href="{% url 'posts:category_list' category.slug %}"
            >{{category.name}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="card my-4 shadow-sm">
    <div class="card-body">
      <h3>Latest Comments</h3>
      <hr>
      {% for comment in sidebar_comments %}
      <div>
        <a href="{{comment.post.get_absolute_url}}">{{comment.post}}</a>
        <p><i class='fas fa-users'></i>&nbsp;{{comment.name}} <small class="text-muted">{{comment.created}}</small></p>
        <p>{{comment.content}}</p>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
